$text-color: rgb(29, 39, 53);

.cvContainer {
    --cv-margin: 2.2rem;
    border-radius: 0.6rem;

    display: flex;
    flex-direction: row;

    width: 100%;
    align-items: stretch;

    box-shadow: 0 0.5rem 2rem -0.8rem #00005080;
}

.cvInfoBar { 
    max-width: 20rem;
    width: 25%;

    margin: var(--cv-margin);
    padding-right:  var(--cv-margin);
    border-right: 1px dashed #00005030;

    > img {
        flex-shrink: 1;
    }
}

@media (max-width: 920px) {
    .cvContainer {
        flex-direction: column;
    }

    .cvInfoBar { 
        max-width: 30rem;
        width: initial;
        border-right: none;
        align-self: center;
        padding-right: 0;
    }
}

.cvContentContainer {
    padding: var(--cv-margin);
    padding-left: 0;
    align-self: stretch;
    flex-grow: 1;
    /*background-color: #22448888;*/
    
    align-items: stretch;
}

.divider {
    //box-shadow: 0 0.8rem 1rem -0.8rem #00005060;
    border-bottom: 1.0px dashed #00005030;;
    padding-left: 0.7rem;
    margin: 2rem  -0.7rem 2rem -0.7rem;
}

.icon {
    width: 2.2rem;
    height: 2.2rem;
    background-color: $text-color;
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.icon > svg {
    width: 50%;
    height: 50%;

    path {  
        stroke: white;
        fill: white;
    }
}

.personalDatum {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    text-align: right;
}

.languageSkills {
    display: flex;
    align-items: center;
    gap: 1rem;
}