$track-line-thickness: 0.2rem;
$trackIcon-size: 2.7rem;
$text-color: rgb(29, 39, 53);
$track-color: rgba($text-color, 0.7);
$track-width: max(8%,  #{$trackIcon-size});

$trackColor_education: hsl(42, 100%, 65%);
$trackColor_work: hsl(120, 46%, 27%);

$row-gap: 2rem;
$col-gap: 0.3rem;

//$trackOffset_education: calc(0.5 * #{$track-width});
//$trackOffset_work: calc(1.5 * #{$track-width} + #{$col-gap});

$trackOffset_education: calc(50% - 0.5 * #{$track-width} - 0.5 * #{$col-gap});
$trackOffset_work: calc(50% + 0.5 * #{$track-width} + 0.5 * #{$col-gap});

.timeline {
  display: grid;
  position: relative;
  grid-template-columns: [education-text] 1fr [education-track] $track-width [work-track] $track-width [work-text] 1fr;
  grid-template-rows: $trackIcon-size 1fr;
  row-gap: $row-gap;
  column-gap: $col-gap;

  height: 40rem;

  line-height: 1.4;

  h1, h2, h3 {
    margin: 0;
    margin-bottom: 0.0rem;
  }

  //background-color: rgba(blue, 0.1);
  align-self: stretch;
}

.text_education {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);

  grid-column: education-text;
  text-align: right;
}

.text_work {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);

  grid-column: work-text;
}


.track {
  z-index: -1;
  position: absolute;
  top: $trackIcon-size + 1.0rem;
  bottom: 0;
  border-left: $track-line-thickness dotted $track-color;
}

.track_education {
  composes: track;
  left: $trackOffset_education;
  transform: translateX(-50%);
}

.track_work {
  composes: track;
  left: $trackOffset_work;
  transform: translateX(-50%);
}

.trackIcon {
  justify-self: center;
  align-self: center;
  width: $trackIcon-size;
  height: $trackIcon-size;
  border-radius: 50%;
  user-select: none;

  display: flex;
  > span {
    margin: auto;
  }
}  

.trackIcon_education {
  composes: trackIcon;
  background-color: $trackColor_education;
  grid-column: education-track;

  font-size: 0.57 * $trackIcon-size;
}

.trackIcon_work  {
  composes: trackIcon;
  background-color: $trackColor_work;
  grid-column: work-track;
 
  font-size: 0.8 *  0.57 * $trackIcon-size;
}

.trackBase {
  position: absolute;
  transform: translateY(100%);

  justify-self: center;
  width: 0.3rem;
  align-self: stretch;
}

.trackSegment {
  composes: trackBase;
  background-color: $trackColor_education;

  &:after {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    justify-self: center;
    display: inline-block;
    content: "X";
    color: transparent;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.trackSegment_education {
  composes: trackSegment;
  background-color: $trackColor_education;
  grid-column: education-track;

  &:after {
    background-color: $trackColor_education;
  }
}

.trackSegment_work {
  composes: trackSegment;
  background-color: $trackColor_work;
  grid-column: work-track;

  &:after {
    background-color: $trackColor_work;
  }
}