.cvContainer {
    --cv-margin: 2.5rem;
    border-radius: 0.6rem;

    display: flex;
    flex-direction: row;

    width: 100%;
    height: 600px;
    align-items: stretch;

    box-shadow: 0 0.5rem 2rem -0.8rem #00005080;
}

.cvInfoBar { 
    max-width: 20rem;
    width: 25%;

    margin: var(--cv-margin);
    padding-right:  var(--cv-margin);
    border-right: 1px dashed #00005030;
}

.cvInfoBar > img {
    flex-shrink: 1;
}

.cvContentContainer {
    padding: var(--cv-margin);
    align-self: stretch;
    /*background-color: #22448888;*/
}

.divider {
    box-shadow: 0 0.8rem 1rem -0.8rem #dbdbec80;
    padding-left: 0.7rem;
    margin: 2rem  -0.7rem 2rem -0.7rem;
}

.icon {
    width: 2.0rem;
    height: 2.0rem;
    background-color: var(--text-color);
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.icon > svg {
    width: 70%;
    height: 70%;
}

.icon > svg path {  
    stroke: white;
    fill: white;
}

.personalDatum {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}